#container {
	width: 100%;
}

 .headInfo {
	width: 1000px;
	height: 92px;
	margin: 0px auto 15px auto;
}
.detail, .fsContent {
	width: 1000px;
	
	margin: 0px auto 30px auto;
}

.imageView {
	width: 100%;
	margin: 0px auto 30px auto;
}

#container div {
	display: block;
}

.ul_detail {
	margin-bottom: 30px;
	<!--border-top: 2px solid rgb(34, 34, 34);-->
	border-top: 2px solid rgb(34, 34, 34);
}

#container ul, #container li {
	list-style: none;
}

#container li {
	display: list-item;
	text-align: -webkit-match-parent;
}

#container ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	<!--padding-inline-start: 40px;-->
}

.ul_detail>li {
	float: left;
	width: 25%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid rgb(235, 235, 235);
}

.ul_detail::after {
	display: block;
	content: "";
	clear: both;
}



.p_detail {
	float: left;
	width: 100px;
	color: rgb(136, 136, 136);
	font-size: 14px;
	font-weight: bold;
	padding-left:5px;
	background-color: #e7e7e7; 
}

.div_detail {
	float: left;
	color: rgb(34, 34, 34);
	font-size: 14px;
	padding-left:10px;
}

#container p {
	display: block;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	vertical-align: middle;
}



.imgBox {
	width: 1000px;
	position: relative;
	margin: 0px auto;
}

.big-smallView {
	width: 1000px;
	height: 420px;
	margin-bottom: 49px;
	position: relative;
	cursor: pointer;
}

.big-smallView::after {
	display: block;
	content: "";
	clear: both;
}

.bigView {
	float: left;
	width: 560px;
	height: 420px;
	background-color: rgb(246, 247, 248);
	position: relative;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
}

.bigView::before {
    width: 86px;
    height: 86px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	
}

.bigView::before, .bigView::after {
    content: "";
    display: block;
    position: absolute;
}
.bigView::after {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.smallView {
	float: left;
	width: 220px;
	height: 210px;
	background-color: rgb(246, 247, 248);
	position: relative;
}
.smallView::before {
    width: 86px;
    height: 86px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.smallView::before, .smallView::after {
    content: "";
    display: block;
    position: absolute;
}

.smallView::after {
   width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(217, 218, 220);
    border-image: initial;
}

.roomInfo {
	width: 700px;
	font-size: 1.1em;
}

.roomInfo th {
	text-align: left;
}

.roomInfo td {
	text-align: left;
}

.reaInfo {
	font-size: 0.9em;
}

.reaInfo th {
	text-align: right;
}

.reaInfo td {
	text-align: left;
	padding: 0px 10px;
}


.fsContent{
	font-size: 1.2em;
}

.categoryMapInfo{
	width: 1000px;
	position: relative;
	margin: 0px auto ;
	font-size: 1.8em;
	font-weight: bold;
	text-align: center;
}