@charset "utf-8";

/* 레이아웃 */
#mNav {display: none; position: absolute; top: 10px; right: 14px;}
#header {width: 100%; font-family:'Noto Sans KR', AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif; color: #222; font-size: 13px; line-height: 1.5;}
#banner {position : relative; font-family:'Noto Sans KR', AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif; color: #222; font-size: 13px; line-height: 1.5;}
#roomdetail {
	position : relative; font-family:'Noto Sans KR', AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif; color: #222; font-size: 13px; line-height: 1.5;  color : rgb(72, 72, 72);
	
}
/* 가운데 영역 */
.container3 {position: relative; width: 1280px; margin: 0 auto; background: rgba(0,0,0,0); }
.container2 {position: relative; width: 1680px; margin: 0 auto; background: rgba(0,0,0,0); }

/* 로우 영역 */
.row {padding: 0 28px; }

/* 배너 */
.banner_menu {overflow: hidden; position: absolute; left: 0; width: 100%; height: 100px; z-index: 10;}
.banner_menu .bm_right { float: right; overflow : hidden;}
.banner_menu .bm_right ul { padding-top : 28px}
.banner_menu .bm_right li { position:relative; display : inline-block; text-align: center; margin-right: 20px;}
.banner_menu .bm_right li.line {margin-right: 30px;}
.banner_menu .bm_right li a { font-size: 15px; color: white !important; !important; font-weight: 600 !important;}
.banner_menu .bm_right li.size1 a:hover:after {content: "" !important; display: block; width: 45px; height: 2px; background: white; margin-top: 15px;} 
.banner_menu .bm_right li.size2 a:hover:after {content: "" !important; display: block; width: 58px; height: 2px; background: white; margin-top: 15px;} 
.banner_menu .bm_right li.size3 a:hover:after {content: "" !important; display: block; width: 69px; height: 2px; background: white; margin-top: 15px;} 
.banner_menu .bm_right li.size4 a:hover:after {content: "" !important; display: block; width: 69px; height: 2px; background: white; margin-top: 15px;} 

/* 슬라이드 */
.slider {width: 100%; height: 710px;}
.slider .ss1 {background : url(../img/header7.jpg) no-repeat center center; background-size: cover;}
.slider .ss2 {background : url(../img/header8.jpg) no-repeat center center; background-size: cover;}
.slider .ss3 {background : url(../img/headerpic1.jpg) no-repeat center center; background-size: cover;}

/* 검색창 */
#search{position: relative; font-family:'Noto Sans KR'; }
.searchbox { width : 584px; height : 585px; border-radius: 5px;  padding : 32px; margin-top: 56px; float :left; font-family: 'Noto Sans KR', sans-serif;}
.search_tit {text-align: center; }
.search_tit h1 {font-size: 1.8em; font-weight: 600 ; margin : 0; padding :0; line-height: 69px; color : inherit; height: 74px; font-family:'Noto Sans KR'; }
.search_info .destination {margin-top : 20px; margin-bottom: 20px;  position : relative;}
.search_info .destination .des_tit { margin-bottom: 8px;}
.search_info .destination .des_tit span {font-size : 12px; font-weight: 600; font-family:'Noto Sans KR'; }
.search_info .destination .des_location {padding: 11px 0;  display: block; border : 1px solid #6495ED; border-radius: 5px;}
.search_info .destination .des_location input {font-size: 18px; line-height: 24px; box-sizing: inherit; overflow: visible; border : none; font-family:'Noto Sans KR';}

.searchbox .date {margin-bottom: 20px; position: relative;}
.date .date_checkin {width: 50%;  float: left; overflow: hidden; }
.date .date_checkin .checkin_tit {margin-bottom: 8px;}
.date .date_checkin .checkin_tit span {font-size : 12px; font-weight: 600; line-height: 1.3333em; font-family:'Noto Sans KR';}
.date .date_checkin .checkin_date {position : relative; border-width: 1px 0 1px 1px; padding : 11px 0; border-style: solid none solid solid; border-color: #6495ED; border-radius: 5px 0 0 5px; border-right: none; display: block; width: 100%; }
.date .date_checkin .checkin_date input {min-height: 46px; font-size: 16px; font-weight: 600;  border : none; size : 50;}

.date .date_checkout {width: 50%;  float: right; }
.date .date_checkout .checkout_tit {margin-bottom: 8px;}
.date .date_checkout .checkout_tit span {font-size : 12px; font-weight: 600; line-height: 1.3333em; font-family:'Noto Sans KR'; }
.date .date_checkout .checkout_date {position : relative; border-width: 1px 1px 1px 1px; padding : 11px 0; border-style: solid; border-radius: 0 5px 5px 0; display: block; width: 100%;  border-color: #6495ED;}
.date .date_checkout .checkout_date input {min-height: 46px; font-size: 16px; font-weight: 600; border : none; size : 50;}

.personNum {margin-bottom: 16px; position: relative;  }
.personNum .personNum_tit {margin-bottom: 8px; }
.personNum .personNum_tit .personCheck {font-size: 12px; font-weight: 600; line-height: 1.3333em; font-family:'Noto Sans KR'; }

.personNum .select {position : relative; }
.personNum .select .pSelect {font-size: 16px; font-weight: 400; display: block; height: 48px; border: 1px solid #6495ED;  padding : 8px 11px 11px; width: 100%;}
.personNum .select .pSelect option {white-space: nowrap}

.searchbox .search_btn button {border-radius: 5px; font-size : 16px; line-height: 24px; padding: 10px 22px; background : #FF5A5F; color : #fff; width: 100%; margin-top: 9px;}

/* 광고 */
.adverbox{ display : block; width : 553px; height : 468px; border-radius: 5px;  padding : 32px; background: #FFFAF0; margin: 106px 0 0 60px; float : right; font-family:'Noto Sans KR'; font-size : 12px;}
.adverbox .adveraction {position: relative; display: block;}
.adverbox .adveraction .adver_tit {font-size: 3em; font-weight: 800; padding-top : 130px ; position: absolute; left: 50%; transform: translateX(-50%);}
.adverbox .adveraction .adver_context {font-size: 3em; font-weight: 800; padding-top : 200px; position: absolute; left: 50%; transform: translateX(-50%); 
	animation-name : textsize;  animation-duration:2s; animation-iteration-count : infinite;}
	.adverbox .adveraction .adver_context a:hover {color : red;}
.adverbox .adveraction .adver_mention {font-size: 3em; font-weight: 800;  padding-top : 270px; position: absolute; left: 45%; transform: translateX(-40%);}


/* ********************************************** searchresult ***************************************************************************************************** */
.search2 {width: 100% height : 80px;}
.search2 .searchline {width : 30%; height : 48px; margin : 16px 0; border : 1px solid #EBEBEB; border-radius: 5px; box-shadow: 0 3px 5px rgba(0,0,0,0.2);}
.search2 .searchline input {width : 100%; height : 22px; margin-top : 13px; border : none; font-size : 17px; font-weight : 800;}

#nav {width: 100%; height: 48px; border: 1px solid #EBEBEB; display: block; box-sizing: border-box; padding-top: 5px; padding-right: 8px; padding-bottom: 5px;}
.select_info {position: relative; }
.select_date {display : inline-block; height: 32px; border : 2px solid rgb(34, 34, 34); border-radius: 30px; }
.select_date button {width : 200px; margin: 7px auto; background: none;}
.select_date span {line-height: 18px; font-size: 14px; font-weight: 400; }

.select_personNum {display : inline-block; height: 32px; border : 2px solid rgb(34, 34, 34); border-radius: 30px; margin-left: 10px;}
.select_personNum button {width : 100px; margin: 7px auto; background: none;}
.select_personNum span {line-height: 18px; font-size: 14px; font-weight: 400; }

#roomresult{position : relative;}
.roomlist{overflow-anchor : none; position : relative; }
.roomlist .roomlist_tit {}
.roomlist .roomlist_tit h3 {margin: 35px 0 30px 0; font-weight: 600; font-size : 22px; line-height : 26px;}
.roomlist .a { width: 756px; margin-left: 0;}

.roomlist .roomlist_items{ margin-top : -8px ; width : 45%; height: 1355px; position: relative; float : left;}
.roomlist .roomlist_items .roomlist_each {width:100% height: 250px; cursor: pointer;}

/* 슬라이드 */
.room_slider {width: 300px; height: 200px; padding: 25px 15px 25px 0; float: left;}


.room_simpleinfo {float: left; padding: 25px 0 25px 15px; position : relative; width: 426px; font-size : 16px;}
.room_simpleinfo .sroom_type{float: left;}
.room_simpleinfo .sroom_point{float: right; }
.room_simpleinfo .sroom_point img{ float : left; margin : 4px 3px 0 0; width : 17px; height: auto;}
.room_simpleinfo .sroom_tit {clear:both; margin : 5px auto; font-size : 20px;}
.room_simpleinfo .sroom_price{margin : 42px 0 3px 0px; float : right;}
.room_simpleinfo .sroom_tot{clear : both; float :right;}

.roomlist .b { clear : both; margin : 0; }

.roomlist_items .pagingbox {position: relative;  width: 100%; font-size: 16px; font-weight: 600; display : block; text-align : center; }
.roomlist_items .pagingbox ol.paging {padding :25px; display : block; }
.roomlist_items .pagingbox ol.paging li{display : inline-block; margin-right: 8px;}
.roomlist_items .pagingbox ol.paging li a {
	display: block;
	padding: 3px 7px;
	border: 1px solid #00B3DC;
	color: #2f313e;
	font-weight: bold;
	text-decoration: none;
}
.roomlist_items .pagingbox ol.paging li a:hover {
	background: #00B3DC;
	color: white;
	font-weight: bold;
}
.disable{padding: 3px 7px;
	border: 1px solid silver;
	color: silver;}


.now {
	padding: 3px 7px;
	border: 1px solid #ff4aa5;
	background: #ff4aa5;
	color: white;
	font-weight: bold;
	
}


/* 리스트 위치 맵 */
#mapbox {position : fixed; height: 841px; width : 47.5%;  float : right; margin-top : -100px; right:120px;}


/* ******************************* detailroom_view ************************************************* */
#pic_area{position : relative; }
.roompic_box{display: block; height: 590px;}
.roompic_box .roompic1 {background : url(../img/header7.jpg) no-repeat center center; background-size: cover; width: 50%; height: 590px; float:left;}
.roompic_box .roompic2 {background : url(../img/header8.jpg) no-repeat center center; background-size: cover; width: 25%; height: 295px; float:left;}
.roompic_box .roompic3 {background : url(../img/headerpic1.jpg) no-repeat center center; background-size: cover; width: 25%; height: 295px; float:left; }
.roompic_box .roompic4 {background : url(../img/headerpic2.jpg) no-repeat center center; background-size: cover; width: 25%; height: 295px; float:left;}
.roompic_box .roompic5 {background : url(../img/headerpic3.jpg) no-repeat center center; background-size: cover; width: 25%; height: 295px; float:left;}

#roomdetail {position : relative; display: block;}
.room_sticky{position: absolute;}
.room_box {display: inline-block; width: 58.33%; padding-right: 8px; position: relative;}
.room_box .room_dtit { margin-top: 20px; position: relative; display: block;}
.room_box .room_dtit .droom_name{ float: left;}
.room_box .room_dtit .droom_name h1{font-size: 32px; font-weight: 800; line-height: 1.125em; padding : 6px 0; font-family:'Noto Sans KR'; font-family:'Noto Sans KR'; color : rgb(72, 72, 72);}
.room_box .room_dtit .droom_name p{ font-size: 16px; font-weight: 400; line-height: 1.375em; padding : 6px 0; font-family:'Noto Sans KR';}
.room_box .room_dtit .droom_host{float: right;}
.room_box .room_dtit .droom_host .dhost_pic{background : url(../img/roompic/hostpic1.jpg) no-repeat center center; background-size: cover; width:60px; height: 60px; border-radius: 50%;  margin : 10px;}
.room_box .room_dtit .droom_host .dhost_name{ display: block; font-size: 14px; font-weight: 400; line-height: 1.285em; }

.room_box .room_sinfo { display: block; font-size: 16px; font-weight: 400;line-height: 1.37em;}
.room_box .room_sinfo .info_rtype{ margin : 10px 0px; }
.room_box .room_sinfo .info_rtype img {width : 20px; heigh : auto; margin-top : -5px;}
.room_box .room_sinfo .info_rpersoncnt { margin : 0 10px 0 0px; display: inline-block;}
.room_box .room_sinfo .info_rcnt {margin : 0 10px 0 0; display : inline-block;}
.room_box .room_sinfo .info_rbedcnt { margin : 0 10px 0 0; display: inline-block; }
.room_box .room_sinfo .info_rdesc{margin : 15px 0 25px;  }

.room_box .facility_box{position: relative; font-size: 16px; font-weight: 400;line-height: 1.37em; display: block;}
.room_box .facility_box .dfacility {margin : 20px 0 14px 0;  display: relative;}
.room_box .facility_box .dfacility .facil_name{width: 100%; margin : 0 0 20px 0;}
.room_box .facility_box .dfacility .facil_list{width : 49%; margin : 7px 0; display: inline-block;}

.room_box .dreservation_box {position: relative;}
.room_box .dreservation_box .dreserv_info {display: block; font-size: 16px; font-weight: 400; line-height: 1.37em; margin : 20px 0 15px 0;}
.room_box .dreservation_box .dreserv_info .dreserv_tit {display: block; }
.room_box .dreservation_box .dreserv_deldate {display: block; }
.room_box .dreservation_box .dreserv_deldate button { font-weight: 400; line-height: 1.37em; overflow-wrap: break-word; font-size: 16px; display: block; color: #008489; background-color : rgba(0,0,0,0); margin : 20px 0; }

.room_box .dtag_box{position : relative;}
.room_box .dtag_box .dtag_main {display: block; margin-top: 20px;}
.room_box .dtag_box .dtag_main .dtag_tit {margin-bottom: : 8px;}
.room_box .dtag_box .dtag_main .dtag_tit h2 {font-size: 24px; font-weight: 800; line-height: 1.25em; font-family:'Noto Sans KR'; color : rgb(72, 72, 72);}
.room_box .dtag_box .dtag_main .dtag_totalpoint { display: inline-block; margin: 18px 16px 8px 0; font-size: 18px; font-weight: 800; line-height: 1.444em;}
.room_box .dtag_box .dtag_main .dtag_totalpoint img {width:20px; heigh : auto; margin-top : -5px;}
.room_box .dtag_box .dtag_main .dtag_totalpoint:after {content: "" !important; display: inline-block;  width: 1px; height: 16px; background: white; margin-left: 15px; } 
.room_box .dtag_box .dtag_main .dtag_count {display: inline-block; font-size: 18px; font-weight: 400;}
.room_box .dtag_box .dtag_main .dtag_count strong {display: inline-block; font-size: 18px; font-weight: 800; line-height: 1.444em; font-family:'Noto Sans KR'; color : rgb(72, 72, 72);}

.room_box .dtag_box .dtag_list {display: block; position: relative; margin-top: 20px;}
.room_box .dtag_box .dtag_list .dlist_box {border : 1px solid  #e4e4e4; box-shadow : rgba(0, 0, 0, 0.16); border-radius: 12px; padding : 20px 16px;}
.room_box .dtag_box .dtag_list .dlist_box .dlist_boxitems {position : relative;}
.room_box .dtag_box .dtag_list .dlist_box .dlist_boxitems .boxitem {width: 49.5%; display: inline-block; margin : 5px 0; font-size: 14px; font-weight: 400; line-height: 1.28em; position: relative;}
.room_box .dtag_box .dtag_list .dlist_box .dlist_boxitems .boxitem .boxitem_name {width: 49.5%; display: inline-block;}
.room_box .dtag_box .dtag_list .dlist_box .dlist_boxitems .boxitem .boxitem_point {width: 49.5%; display: inline-block;}

.room_box .dtag_box .dtag_replybox {position: relative; margin-top: 25px;}
.room_box .dtag_box .dtag_replybox .dguest_replybox {display: block;}
.room_box .dtag_box .dtag_replybox .dguest_replybox .dguest_taginfo {display: block; }
.room_box .dtag_box .dtag_replybox .dguest_replybox .dguest_taginfo .dguest_tagpic {background : url(../img/guestpic/guestpic1.jpg) no-repeat center center; background-size: cover; width:48px; height: 48px; border-radius: 50%; float :left;}
.room_box .dtag_box .dtag_replybox .dguest_replybox .dguest_taginfo .dguest_name_date {float : left; margin : 0 20px; font-style: 14px; font-weight: 400; line-height: 1.285em;}
.room_box .dtag_box .dtag_replybox .dguest_replybox .dguest_taginfo .dguest_name_date strong {font-size: 16px; font-weight: 600; line-height: 1.375em;}
.room_box .dtag_box .dtag_replybox .dguest_replybox .dguest_tagcont {padding : 15px 0 15px 0; font-size : 16px; font-weight: 400; line-height: 1.37em; overflow-wrap : break-word; clear : both;}

.room_box .dtag_box .dtag_replybox .dhost_replybox { margin : 10px 0 20px 23px; display: block;}
.room_box .dtag_box .dtag_replybox .dhost_replybox .dhost_replypic { vertical-align : top; background : url(../img/roompic/hostpic1.jpg) no-repeat center center; background-size: cover; width:40px; height: 40px; border-radius: 50%; display: inline-block; }
.room_box .dtag_box .dtag_replybox .dhost_replybox .dhost_replycont {display: inline-block; font-size: 16px; font-weight: 400; line-height: 1.375em; overflow-wrap : break-word; margin: -45px 0 0 60px; }
.room_box .dtag_box .dtag_replybox .dhost_replybox .dhost_replycont strong {font-size: 14px; font-weight: 600; line-height: 1.285;}
.room_box .dtag_box .dtag_replybox .dhost_replybox .dhost_replycont span {font-size: 14px; font-weight: 400; line-height: 1.285;}

.room_box .dtag_box .dtag_replybox .dpaging_area {margin : 20px 0;}

.room_box .dhost_info

.room_box .dlocation_infobox

.room_box .dnotice_infobox {position: relative;}
.room_box .dnotice_infobox .dnotice_headerbox { display : block; margin-top: 40px; margin-bottom: 16px;}
.room_box .dnotice_infobox .dnotice_headerbox h2{font-weight: 800; font-size: 24px; line-height: 1.25em; margin : 2px 0;  font-family:'Noto Sans KR'; color : rgb(72, 72, 72);}
.room_box .dnotice_infobox .dnotice_contentbox span {font-size: 16px; font-weight: 600; line-height: 1.375;  font-family:'Noto Sans KR'; color : rgb(72, 72, 72);}
.room_box .dnotice_infobox .dnotice_contentbox {font-size: 16px; font-weight: 400; line-height: 1.375;  }
.room_box .dnotice_infobox .dreserve_cancel {display: block; margin-top: 20px;}
.room_box .dnotice_infobox .dreserve_cancel .dreserv_canceltit { font-size: 16px; font-weight: 600; line-height: 1.375; }
.room_box .dnotice_infobox .dreserve_cancel .dreserv_cancelcont { font-size: 16px; font-weight: 400; line-height: 1.375; padding: 5px 0;  }


#roomdetail .calculationbox{position : sticky; display: inline-block; border : 1px solid #e4e4e4; width : 36%; height : 430px; margin : 28px; top : 50px; z-index: 9; }
.calculationbox .cal_box {margin : 16px 24px;  }
.calculationbox .cal_box .cal_header {display: block; width: 100%;}
.calculationbox .cal_box .cal_header .cal_headertit {line-height: 10px; font-size: 12px; font-weight: 600; color : rgb(72, 72, 72); }
.calculationbox .cal_box .cal_header .cal_headertit span {font-size: 22px; font-weight: 800; line-height: 1.44em; }
.calculationbox .cal_box .cal_header .cal_point {cursor : ponter; user-select : auto; font-size: 12px;font-weight: 600;line-height: 1.33em; margin : 5px 0 16px 0; color : rgb(72, 72, 72); }
.calculationbox .cal_box .cal_header .cal_point img{width : 12px; heigh:auto; margin-top:-3px;}
.calculationbox .cal_box .cal_header .cal_point span {font-size: 12px; font-weight: 400; line-height: 1.33em; color : rgb(118, 118, 118); }

.calculationbox .cal_box .cal_date {margin-top : 16px; margin-bottom : 8px;}
.calculationbox .cal_box .cal_date .cdate_tit {font-size: 12px;font-weight: 600; line-height: 1.33em; color : rgb(72, 72, 72); }
.calculationbox .cal_box .cal_date .cdate_inputbox {border : 1px solid #e4e4e4;  text-align: center; position: relative; font-size: 14px; padding : 8px; line-height: 24px; font-weight: normal; color : rgb(72, 72, 72);}
.calculationbox .cal_box .cal_date .cdate_inputbox .checkin {float:left; border-style: none;}
.calculationbox .cal_box .cal_date .cdate_inputbox span {float:left; }
.calculationbox .cal_box .cal_date .cdate_inputbox .checkout {float:left; border-style: none; mrgin-left : 10px;}

.calculationbox .cal_box .cal_personNum {clear : both; color : rgb(72, 72, 72); margin : 5px 0 16px 0;}
.calculationbox .cal_box .cal_personNum .cpersonNum {font-size: 12px; font-weight: 600; line-height: 1.33em; }
.calculationbox .cal_box .cal_personNum .cpersonNumbox { }
.calculationbox .cal_box .cal_personNum .cpersonNumbox select {padding : 8px; width : 100%; border : 1px solid #e4e4e4;}

.calculationbox .cal_box .cal_price { font-size: 14px; font-weight: 400; line-height: 1.285em; color : rgb(72, 72, 72); width : 100%;}
.calculationbox .cal_box .cal_price .cprice_cal {margin-bottom : 13px;}
.calculationbox .cal_box .cal_price .cp_totalname {font-weight: 600; float: left;}
.calculationbox .cal_box .cal_price .cprice_result {display: inline-block; float: right;}

.calculationbox .cal_box .cal_button { clear : both; margin : 36px 0 16px 0; text-align: center; width : 100%;}
.calculationbox .cal_box .cal_button .cal_buttonaction {font-size: 14px; font-weight: 600; color : white;  background: 	#F54B4B; width : 100%; border-radius: 5px; padding : 8px;}
.calculationbox .cal_box .cal_content {font-size: 12px;font-weight: 600; line-height: 1.33em; color : rgb(72, 72, 72); margin : 5px; padding : 3px 15px; text-align: center;}

#footer {position: relative; display: block; }

/* *************************  booking   ************************* */

.booking_box { width : 100%; position : relative; font-family:'Noto Sans KR', AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif; color: #222; font-size: 13px; line-height: 1.5;  color : rgb(72, 72, 72);}
.booking_box .booking_header { padding :14px;}
.booking_box .booking_header .booking_tit {font-size : 18px; font-weight : 800; margin-bottom : 5px;}
.booking_box .booking_header .booking_date {font-size : 14px; font-weight : 400; }

.booking_info {position : relative; display : block;  width : 100%;  padding :14px; font-size : 14px; font-weight : 400;}
.booking_info .booking_user {display : inline-block;  width : 49%; position : relative;padding :14px;} 
.booking_info .booking_user .bookinguser_tit{display : inline-block;}
.booking_info .booking_user .bookinguser_info{display : inline-block;float :right;}

.booking_info .booking_user .bookingroom_tit{display : inline-block;}
.booking_info .booking_user .bookingroom_name{display : inline-block;float :right;}

.booking_info .booking_user .bookingroom_type{display : inline-block;}
.booking_info .booking_user .bookingroom_typeinfo{display : inline-block;float :right;}

.booking_info .booking_user .bookingroom_city{display : inline-block;}
.booking_info .booking_user .bookingroom_cityinfo{display : inline-block;float :right;}

.booking_info .booking_user .bookingroom_addr{display : inline-block;}
.booking_info .booking_user .bookingroom_addrinfo{display : inline-block;float :right;}


.booking_info .booking_payment {display : inline-block; width : 49%; margin-left : 1%; padding :14px; position: relative;}
.booking_info .booking_payment .bookinghost_tit{display : inline-block;}
.booking_info .booking_payment .bookinghost_name{display : inline-block;float :right;}

.booking_info .booking_payment .bookinghost_phone{display : inline-block;}
.booking_info .booking_payment .bookinghost_number{display : inline-block;float :right;} 

.booking_info .booking_payment .payment_tit{}

.booking_info .booking_payment .payment_checkin{display : inline-block;}
.booking_info .booking_payment .payment_what{position :absolute; display : inline-block; left : 50%;}
.booking_info .booking_payment .payment_checkout{display : inline-block;float :right;}

.booking_info .booking_payment .payment_paytit{display : inline-block;}
.booking_info .booking_payment .payment_info{display : inline-block;float :right;}

.booking_box .bookingmapbox {text-align : center; margin : 0 auto;}